/*********** NAVBAR ************/
.navbar {
    justify-content: center;
    background: rgba(74, 63, 53, 0.7);
}
.nav-link {
    color: #EEEEEE;
}
.nav-link:hover {
    color: #FA7D09;
}

/*********** END OF NAVBAR ************/

/*********** MAIN ************/
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.row {
    justify-content: center;
}

.form-inline {
    max-width: 74rem;
}

.card {
    color: #EEEEEE;
    background-color: rgba(47, 37, 25, 0.5);

    border-color: rgba(255, 67, 1, 0.5);
    border-width: 1px;

    max-width: 35rem;
    max-height: 100rem;
    margin: 20px;
}
/*********** END OF MAIN ************/

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}