/*********** NAVBAR ************/
.navbar {
    justify-content: center;
    background: rgba(74, 63, 53, 0.7);
}
.nav-link {
    color: #EEEEEE;
}
.nav-link:hover {
    color: #FA7D09;
}

/*********** END OF NAVBAR ************/

/*********** MAIN ************/
body {
    background: rgba(20,20,20,255);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    max-width: 80rem;
}
.row {
    justify-content: center;
}


#search-bar {
    max-width: 74rem;
    margin: 10px;
}
.btn-search {
    color: #EEEEEE;
    border-width: 2px;
    border-color: rgba(255, 67, 1, 0.5);
    border-radius: 5px;
}

.card {
    color: #EEEEEE;
    background-color: rgba(47, 37, 25, 0.7);

    border-color: rgba(255, 67, 1, 0.5);
    border-width: 1px;

    max-width: 35rem;
    max-height: 100rem;
    margin: 20px;
}

.card-address {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);

    color: #EEEEEE;
    background-color: rgba(47, 37, 25, 0.7);

    border-color: rgba(255, 67, 1, 0.5);
    border-width: 1px;

    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.card-stats {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);

    color: #EEEEEE;
    background-color: rgba(47, 37, 25, 0.7);

    border-color: rgba(255, 67, 1, 0.5);
    border-width: 1px;

    max-width: 26rem;
    max-height: 21rem;
    margin: 0.5rem;
}

.card-miner {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);

    color: #EEEEEE;
    background-color: rgba(47, 37, 25, 0.7);

    border-color: rgba(255, 67, 1, 0.5);
    border-width: 1px;

    max-width: 39rem;
    max-height: 50rem;
    margin: 0.5rem;
}
/*********** END OF MAIN ************/

/* Style the video: 100% width and height to cover the entire window */
.video-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#ergo-dark-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}