<div class="flex-container">
    <div class="col">
        <div class="row">
            <form class="form-inline">
                <input aria-label="Search" class="form-control" placeholder="Address..." type="search">
            </form>
        </div>
        <div class="row">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Pool Stats</h5>
                    <p class="card-text">
                        Pool hash-rate: {{ pool_hashrate }} Gh/s <br>
                        Connected miners: {{ connected_miners }} <br>
                        Last pool block time: {{ pool_block_time }} <br>
                        Current block pool effort: {{ pool_effort }}% <br>
                        <br>
                    </p>
                    <h5 class="card-title">Pool Info</h5>
                    <p>
                        Payout scheme: PPLNS <br>
                        Minimum payment threshold: 0.1 ERG <br>
                        Pool fee: #% <br>
                        Pool address: # <br>
                    </p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Network Stats</h5>
                    <p class="card-text">
                        Network hash-rate: # Gh/s <br>
                        Network difficulty: # P <br>
                        Block height: # <br>
                        Last network block time: # s <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

