<div class="flex-container">
    <div class="col">
        <div class="row">
            <div class="container">
                <div class="card-address">
                    <div class="card-header">
                        Address: <b>{{ miner_address }}</b>
                    </div>
                </div>
            </div>
        </div>
        <!--        Network-Pool Stats Row-->
        <div class="row">
            <div class="container">
                <div class="card-stats">
                    <div class="card-header">
                        Network Stats
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <table class="custom-table">
                                <thead>
                                <tr class="custom-tr">
                                    <th scope="col">Hashrate</th>
                                    <th scope="col">Difficulty</th>
                                    <th scope="col">Block Reward</th>
                                    <th scope="col">Block Reward reduction</th>
                                    <th scope="col">ERG price in USD</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="custom-tr">
                                    <td> {{ network_hashrate }} Th/s</td>
                                    <td> {{ network_difficulty }} P</td>
                                    <td> {{ block_reward }}</td>
                                    <td> {{ block_reduction_time }}</td>
                                    <td> {{ erg_price_usd }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="card-stats">
                    <div class="card-header">
                        Pool Stats
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <table class="custom-table">
                                <thead>
                                <tr class="custom-tr">
                                    <th scope="col">Hashrate</th>
                                    <th scope="col">Connected miners</th>
                                    <th scope="col">Block found every</th>
                                    <th scope="col">Current effort</th>
                                    <th scope="col">Blocks found</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="custom-tr">
                                    <td>{{ pool_hashrate }} Gh/s</td>
                                    <td>{{ pool_miners }}</td>
                                    <td>{{ block_found_time }} hours</td>
                                    <td>{{ pool_effort }} %</td>
                                    <td>{{ pool_total_blocks }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <!--        Miner Info Row-->
        <div class="row">
            <div class="container">
                <div class="card-miner">
                    <div class="card-header">
                        Miner Info
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <div class="card-header">Current Hashrate:<b> {{ miner_hashrate }} Mh/s</b></div>
                            <div class="card-header">Average 24h Hashrate:<b> {{ miner_avg_hashrate }}</b></div>
                            <div class="card-header">Pending Shares:<b> {{ miner_pending_shares }}</b></div>
                            <div class="card-header">Pending Balance:<b> {{ miner_pending_balance }} Σ</b></div>
                            <div class="card-header">Total Paid:<b> {{ miner_total_paid }} Σ</b></div>
                            <div class="card-header">Round contribution:<b> {{ miner_contribution }} %</b></div>
                        </blockquote>
                    </div>
                </div>
                <div class="card-miner">
                    <div class="card-header">
                        Workers
                    </div>
                    <div class="card-body">
                        <table class="custom-table">
                            <thead>
                            <tr class="custom-tr">
                                <th scope="col"></th>
                                <th scope="col">Name</th>
                                <th scope="col">Hashrate</th>
                                <th scope="col">Shares</th>
                            </tr>
                            </thead>
                            {% for worker in workers_data: %}
                            <tbody>
                            <tr class="custom-tr">
                                <th scope="row"></th>
                                <td>{{worker['name']}}</td>
                                <td>{{worker['hashrate']}} Mh/s</td>
                                <td>{{worker['sharesPerSecond']}}</td>
                            </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <div class="card-miner">
                    <div class="card-body">
                        {% include 'hashrate_chart.html' %}
                    </div>
                </div>
                <div class="card-miner">
                    <div class="card-body">
                        {% include 'diff_chart.html' %}
                    </div>
                </div>
            </div>
        </div>
        <!--        Last 10 Pool Blocks-->
        <div class="row">
            <div class="container">
                <div class="card-stats">
                    <div class="card-header">
                        Last 10 Pool Blocks
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <table class="custom-table">
                                <thead>
                                <tr class="custom-tr">
                                    <th scope="col">Confirmation progress</th>
                                    <th scope="col">Effort</th>
                                    <th scope="col">Block reward</th>
                                    <th scope="col">Mined by</th>
                                    <th scope="col">Created on</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for block in pool_block_info: %}
                                <tr class="custom-tr">
                                    <td>{{ block['block_progress'] }} %</td>
                                    <td>{{ block['block_effort'] }}%</td>
                                    <td>{{ block['block_last_reward'] }} Σ</td>
                                    <td>{{ block['block_miner'] }}</td>
                                    <td>{{ block['block_time'] }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
